<!DOCTYPE html>
<link rel="stylesheet" href="styles.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fight</title>
    <style>
#attack{
position:relative;
margin-top:39%;
left:2%;
font-size: 3rem;
padding: 10px 50px;
}
#block{
position:relative;
margin-top:39%;
left:3%;
font-size: 3rem;
padding: 10px 50px;
}
    </style>
</head>
<body>
<button type="submit" class="btn btn-primary" id="attack">Attack</button>
<button type="submit" class="btn btn-primary" id="block">Block</button>
</body>
</html>