<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h1><center>Welcome!</center></h1>
<h2>Choose 3 pokemons:</h2>
<div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Pokemon ID</th>
            <th>Name</th>
            <th>Element</th>
            <th>Health</th>
            <th>Damage</th>
            <th>Defense</th>
            <th>Size</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="pokemon: ${listPokemons}">
            <td th:text="${pokemon.id}">Pokemon ID</td>
            <td th:text="${pokemon.name}">Name</td>
            <td th:text="${pokemon.element}">Element</td>
            <td th:text="${pokemon.health}">Health</td>
            <td th:text="${pokemon.damage}">Damage</td>
            <td th:text="${pokemon.defense}">Defense</td>
            <td th:text="${pokemon.size}">Size</td>
            <button type="submit" class="btn btn-primary">Delete</button>
        </tr>
        </tbody>
    </table>
</div>
<p th:text="${name}"></p>
<a href="addPokemon"><button type="submit" class="btn btn-primary">Create</button></a>
</body>
</html>